* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

canvas {
    position: absolute;
    z-index: 1;
    border: 5px solid;
    width: 500px;
    height: 200px;
    background-color: white;
}

img {
    width: 70%;
}

.title {
    margin-top: 20px;
    margin-bottom: 20px;
}